.nav {
    background-color: transparent;
  }
  .menu {
    background-color: transparent;
  }
  @media (max-width: 1000px) {
      .nav {
        display: none;
      }
      .main {
        height: 600px;
        background-size: contain;
      }
    }
  @media (min-width: 1000px) {
      .menu {
        display: none;
      }
    }